{% extends 'base.html.twig' %}

{% block title %}Page de {{user.firstName}} {{user.lastName}}{% endblock %}

{% block body %}
    <div class="container">
    <div class="row align-items-center mt-4">
        <div class="col-3 text-center">
            <img src="{{user.picture}}" class="img_profil mb-3" alt="Photo de profil de {{user.firstName}} {{user.lastName}} ">
            <br>
            {{user.ville}}
            <br>
            <span class="badge badge-primary my-2 p-2">{{user.changeAnnonces | length}} annonces</span>
        </div>
        <div class="col-9">
            <h1>{{user.firstName}} {{user.lastName}}</h1>
        </div>
    </div>
</div>
{% endblock %}
